name: Lint Dockerfiles

on:
  push:
    branches:
      - master
    paths:
      - "**Dockerfile*"
      - ".github/workflows/lint-docker.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**Dockerfile*"
      - ".github/workflows/lint-docker.yml"

  workflow_dispatch: {}

jobs:
  lint-dockerfiles:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/lint-docker.yml@master
