name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

  workflow_dispatch: {}

jobs:
  run-action:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run action
        uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload graph and comment artifact
        id: upload-artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v5
        with:
          name: graph
          path: |
            graph.png

      - name: Read comment file
        id: comment
        if: github.event_name == 'pull_request'
        run: |
          COMMENT=$(cat comment.txt)
          echo "comment=${COMMENT}" >> "$GITHUB_OUTPUT"

      - name: Create comment
        uses: thollander/actions-comment-pull-request@v3
        if: github.event_name == 'pull_request'
        with:
          message: |
            ${{ steps.comment.outputs.comment }}

            A graph is available here: ${{ steps.upload-artifact.outputs.artifact-url }}
          comment-tag: size-report

  race-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Ensure main package builds
        run: |
          go build

      - name: Run tests
        run: |
          go test -race -timeout 5m -v ./...

  build-image:
    runs-on: ubuntu-latest
    # only run this check on pull requests, pushes to master will trigger
    # an image release
    if: contains(github.ref, 'pull')
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Ensure Docker image builds
        uses: docker/build-push-action@v4
        with:
          load: true
          push: false
          tags: ghcr.io/${{ github.repository }}:build-test
